<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
        <h1>My Webpage</h1>
        <div>
            <p> Hello welcome to LinkeCoding, if you are to add a job_offer click on this button</p>
            <button id="btn1">Create a company</button>
        </div>
        <div>
            <p> Hello welcome to LinkeCoding, if you are to create an account click on this button</p>
            <button>Create a user</button>
        </div>
    </body>
</html>