{% extends 'base.html.twig'%}


{% block body%}

        <h1>My Webpage</h1>
        <div>
            <p> Hello welcome to LinkeCoding, if you are to add a job_offer click on this button</p>
            <a href="/company"> <button class="btn btn-success">Go to company</button></a>
           
        </div>
        <div>
            <p> Hello welcome to LinkeCoding, if you are to create an account click on this button</p>
            <button id="btn2">Create a user</button>
        </div>
{% endblock%}

{% block javascripts %}
{% endblock %}